:root {
  --primary-color: #EE402D;
 --white-color: #fff;
  --black-color: #000;
 --text-color: #333;
 --border-color: #dbdbdb;


 --header-height: 120px;
  --navbar-height: 34px;
 --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
 box-sizing: inherit;
}

*{
   box-sizing:  inherit;
}


html {
  
  font-size: 67.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
}


.btn.btn-primary{
  color: #2c2c54;
  background-color: var(--white-color);
  border: none;
}

.btn.btn--disabled {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}


.select-input{
  position: relative;
  z-index: 1;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  
}

.select-input__label {
  font-size: 1.4rem;
  
}


.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
 
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  padding : 8px 16px;
  list-style: none;
  background-color: var(--white-color);
  display: none;
}

.select-input:hover .select-input__list{
  display: block;
 

}

.select-input__link {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 4px 0;
}

.select-input__link:hover {
 color: var(--primary-color) !important;
 cursor: pointer;
 
}





/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

/* Reponsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  
}
.grid_full-width {
  width: 100%;
}

.grid__row {
  
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;

}




/* Test */


.grid__column-2{
  padding-top: 60px;
   padding-left: 5px;
   padding-right: 5px;
   width: 16.6667%;
   


}

.grid_column-2-4{
  padding-left: 5px;
   padding-right: 5px;
   width: 20%;
   
}

.grid__column-10{
  padding-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
  


}


/* App container */


.app__container{
  background-color: #F5F5F5;
}



.app__content{
  padding-top: 36px;
}

.category{
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading{
   font-size: 1.7rem;
   color: var(--text-color);
   padding: 12px 16px;
   margin-top: 0;
   border-bottom: 1px solid rgba(0, 0, 0 , 0.05);
}

.category__heading-icon{
  font-size: 1.4rem;
   margin-right: 4px;
   position: relative;
   top: -1px;
}

.category-list{
  padding:0 0 8px 0;
  list-style: none;
  margin-left: 9px;

}



.category-item--active .category-item__link{
   color: var(--primary-color);
    
}

.category-item--active .category-item__link::before{
    position: absolute;
    border: 4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
    content: "";
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
    
}

.category-item__link{
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 4px 16px;
  display: block;
  transition: right linear 0.1s ;
  right: 0;
}


.category-item__link:hover{
  right: -4px;
  color: var(--primary-color);
  cursor: pointer;
 
  
}


/* Home sort + filter*/
.home-filter{
  
  background-color: rgba(0, 0, 0 , 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__btn{
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__btn:hover {
  border: 1px solid #2c2c54;
  background: #fd7e14;
  color: #fff !important;
}

.home-filter__page{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-control{
   border-radius: 2px;
   overflow: hidden;
   display: flex;
   width: 72px;
   height: 36px;
}

.home-filter__page-current{
  color: var(--primary-color);
  
}

.home-filter__page-btn{
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__page-btn-disable{
 background-color: #f9f9f9;
 cursor: default;
}

.home-filter__page-btn-disable .home-filter__page-icon{
  color: #ccc;
  
 }
 

.home-filter__page-btn:first-child{
  border-right: 1px solid #eee;
}


.home-filter__page-icon{
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}
.home-filter__label{
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}


/* Search box */





/* Product Item */
.home-product {
   margin-bottom: 10px;
}
.home-product-item {
  position: relative;
  display: block;
  margin-top: 10px;
  background-color: var(--white-color);
  border-bottom-left-radius: 2px ;
  border-bottom-right-radius: 2px ;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0 , .1);
  transition: tranform ease-in 0.1s;
  will-change: tranform;
}

.home-product-item-wrapper{
  margin-bottom: 10px;
}

.home-product-item:hover{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0 , 0.05);
  transform: translateY(-1px);
  cursor: pointer;
  
  
  
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
                            
.home-product-item__name {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--text-color);
   line-height: 1.8rem;
   margin: 10px 10px 6px;
   height: 3.6rem;
   overflow: hidden;
   display: block;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   
}


.home-product-item__price {
  display: flex;
  
  align-items: baseline;
  flex-wrap: wrap;
}




.home-product-item__price-old{
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;

}
.home-product-item__price-current {
 font-size: 1.6rem;
 color: var(--primary-color);
 margin-left: 6px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;

}


.home-product-item__like {
  font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none ;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
  display: inline;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
  display: none;
}

.home-product-item__rating{
    font-size: 0.6rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold{
  color: #ffce3e;
}

.home-product-item__sold{
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}


.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  justify-content: space-between;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;

}



.home-product-item__origin-name {
  margin-left: auto;
}


.home-product-item__favourite{
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--white-color);
  background-color: #2c2c54;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 4px solid var(--primary-color);
  border-left: 4px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span{
  color: var(--white-color);
  
}


.home-product-item__favourite i{
  font-size: 0.9rem;
  margin: 0px 2px 0px 5px;
}


.home-product-item__sale-off{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2px  0;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64 , 0.94);
}

.home-product-item__sale-off-percent {
 color: #f63d30;
 font-weight: 600;
 
 font-size: 1.2rem;
 line-height: 1.2rem;
 position: relative;
 top: 2px;
 
}

.home-product-item__sale-off::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64 , 0.94) transparent rgba(255, 216, 64 , 0.94);
}
.home-product-item__sale-off-lable {
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  
}



/* Pagination */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 32px 0;
}

.pagination-item{
   margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
   background: linear-gradient(to bottom, #99ccff 0%, #3333cc 100%);
   color: white
   ;
}

.pagination-item--active .pagination-item__link:hover{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  
}

.pagination-item__link{
  display: block;
   font-size: 1.8rem;
   font-weight: 300;
   color: #939393;
   min-width: 40px;
   height: 30px;
   text-align: center;
   line-height: 30px;
}

.pagination-item__icon{

}


